<div class="main-header">BEING A DEVELOPER</div>
<div class="app-container">
  <div class="app-pros">
    <div class="title">PROS</div>
    <app-pros [data]="pros" (onRemove)="removePro($event)"></app-pros>
  </div>
  <div class="app-cons">
    <div class="title">CONS</div>
    <app-cons [data]="cons" (onRemove)="removeCon($event)"></app-cons>
  </div>
  <div class="add-pros-cons">
    <div class="add-pros">
      <input type="text" placeholder="New Pro's" [(ngModel)]="newData.pro" #newpro="ngModel">
      <button (click)="addPro()">
        <i class="material-icons">
          add
        </i>
      </button>
    </div>
    <div class="add-cons">
      <input type="text" placeholder="New Con's" [(ngModel)]="newData.con" #newcon="ngModel">
      <button (click)="addCon()">
        <i class="material-icons">
          add
        </i>
      </button>
    </div>
  </div>
</div>
